.todoCard {
    background-color: rgb(68, 68, 68);
    color: white;
}

.completeTodoCard {
    background-color: rgb(50, 50, 50);
    color: rgb(138, 138, 138)
}

.completedCross {
    text-decoration: line-through;
}

.cardBody {
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.cardText {
    white-space: pre-line;
}

.muted {
    color: rgb(188, 188, 188);
}

.bin {
    color: rgb(228, 38, 38);
}

.complete {
    text-decoration: line-through;
}